The aim of this is to upgrade the squadstaking mastery program (https://squadstaking.com/mastery).

From my side, I:
1. Want the program to grow
2. Want the accreditation to be recognized, reputable, valuable to masters
3. Want the program to gain its own legs, largely self-run by alumni

From the user side, they:
1. Want a well-structured process for the program, so they know what they're signing up for, incl:
1a. What qualifies as a project
1b. What the assessment/review process looks like
1c. What the incentive is (going back to the recognized, reputable, valuable point above)

Which makes the next steps feel like something along the lines of:
1. Flesh out the communications on the webpage to give all of the information up front (including that graduated masters have an opportunity to raise up the next generation)
Communicate with this first cohort and see who might be interested in helping run the next batch
2. Setting up a sort of showcase/portfolio of projects that masters have completed, which helps their projects gain traction, lend to the credibility of the program and accreditation, etc.


additional notes:
1. the program is focused on Ethereum staking, so the projects should be focused on that
2. this is very new - we only have 1 cohort so far - so we need to make sure we're not overly prescriptive in the program structure as we're still figuring out what works best
3. we want to be very clear about the value of the program to the masters, and how it will help them in their careers
4. we want to make sure the program is accessible to a wide range of people, and that we're not excluding anyone based on their background or experience
5. we want to be clear that the aim of the program is to build a community of Ethereum staking experts who are willing to help raise up the next generation of masters, including eventually taking on a mentorship role for the next batch/helping build the program for future cohorts
6. we want to be clear that our intent is for this to be a self-run program by the masters, with the core team providing support as needed
7. we want to be clear that the program's value proposition is primarily focused on reputation and credibility for graduates, and that the program is not focused on financial gain for the masters. ALthough, retroactive rewards for the masters are possible, and we should be clear about that